.Carrito{
    background-color: white;
    display: none;
    padding: 32px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px;
    position: fixed;
    width: 300px;
    margin-top: 5rem;
    

}


