@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
.fondo-completo {
  background-color: white;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 20px;
  font-family: "Cinzel";
  padding: 40px 50px;
  box-sizing: border-box;
}
.fondo-descripcion {
  display: flex;
}
.container-big-img {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.big-image {
  margin-bottom: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
.mini-imgs-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}
.mini-imgs {
  width: 20%;
  border-radius: 5px;
  margin-right: 10px;
}
.container-description {
  width: 60%;
}
.container-description h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}
.tittle-back {
  display: flex;
  justify-content: space-between;
}
.tittle-back .volver {
  height: 3em;
  margin: 0.5em;
  border: none;
  background-color: #038bbb;
  color: white;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
}
.tittle-back .volver:hover {
  opacity: 50%;
}

.container-description .calificacion h3 {
  margin-right: 6%;
}
.different-lines {
  margin-top: 1em 0;
}
.calificacion {
  margin-bottom: 2em;
}
.same-line {
  margin-top: 1em;
  display: inline-block;
}
.anadir-carrito {
  background-color: #e19f41;
  color: White;
  border: none;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  height: 3em;
  padding: 10px;
}
.anadir-carrito:hover {
  opacity: 0.5;
}
.boton-azul {
  background-color: #038bbb;
  color: White;
  border: none;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  height: 3em;
  padding: 10px;
}
.boton-azul:hover {
  opacity: 0.5;
}
.two-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.deja-comentario {
  margin-top: 1em 0;
}
.area-comentario {
  width: 100%;
  height: 15vh;
  border-radius: 10px;
}
.calificacion-snitch {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.der {
  margin-left: 94%;
}
.usuario-coment {
  margin: 1em 0;
}
.comentario {
  width: 100%;
  border: 1px solid;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
}
.calif-fecha {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.5em 0;
}
.calif-fecha p {
  padding: 6px;
}


@media (max-width: 850px) {
  #two-buttons button {
    margin: 0.5rem 0;
  }


}
.efecto-visual-huevo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.huevo {
  width: 90px;
  height: 130px;
  background-color: #edbb99; 
  border-radius: 50% 50% 45% 45%;
  border: 2px solid #f6ddcc;
  position: relative;
  animation: caer 2s ease-in-out forwards;
}

@keyframes caer {
  0% {
      top: 0;
      transform: translateY(-100%);
  }
  70% {
      top: 85%;
      transform: translateY(0);
  }
  80% {
      top: 50%; 
      transform: translateY(0);
  }
  90% {
      top: 85%;
      transform: translateY(0);
  }
  95% {
      top: 60%;
      transform: translateY(0);
  }
  100% {
      top: 85%;
      transform: translateY(0);
  }
}
.efecto-visual-sombrero {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombrero-antigravedad {
  width: 700px;
  height: 1000px;
  background-image: url("../src/assets/sombrero.png"); 
  background-size: cover;
  position: relative;
  animation: levitar 4s ease-in-out infinite;
}

@keyframes levitar {
  0% {
      transform: translateY(200px);
  }
  100% {
      transform: translateY(-500px); 
  }
}
  .efecto-visual-granos {
    width: 300px; 
    height: 300px; 
    background-image: url('../src/assets/Filch.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
  }

  .efecto-visual-granos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    background-position: 55% 40%, 70% 55%, 70% 45%, 60% 25%, 70% 20%, 55% 55%, 65% 40%; 
    animation: mostrarGranos 6s infinite; 
  }

  @keyframes mostrarGranos {
    0%, 20% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    30% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #FFFF 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    50% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    70% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    100% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%);
    }
  }
  .boca {
    width: 280px; 
    height: 350px; 
    background-image: url("../src/assets/boca.png");
    background-size: cover;
    position: absolute; 
    top: 20%;
  }
  
  .lengua {
    width: 250px; 
    height: 60px; 
    background-color: #C62828; 
    border-radius: 100% 50% 45% 45%;
    border: 2px solid #B71C1C; 
    position: absolute;
    top: 50%; 
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    animation: enrollarLengua 3s ease-in-out forwards; 
  }
  
  @keyframes enrollarLengua {
    0% {
      height: 60px; 
      width: 200px; 
      transform: translateX(-50%) translateY(-40%); 
    }
    100% {
      height: 600px;
      width: 200px; 
      transform: translateX(-50%) translateY(0px); 
    }
  }
   
  @keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  
  .firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 6;
  background:
    radial-gradient(circle, #B71C1C 1.6vmin, #0000 0) 20% 10%,
    radial-gradient(circle, #0000ff 2.4vmin, #0000 0) 10% 80%,
    radial-gradient(circle, #B71C1C 4vmin, #0000 0) 80% 30%,
    radial-gradient(circle, #0000ff 1.6vmin, #0000 0) 60% 70%,
    radial-gradient(circle, #ff0 2.4vmin, #0000 0) 30% 90%,
    radial-gradient(circle, #B71C1C 4vmin, #0000 0) 75% 50%,
    radial-gradient(circle, #ff0 4vmin, #0000 0) 90% 10%,
    radial-gradient(circle, #0000ff 1.6vmin, #0000 0) 40% 60%,
    radial-gradient(circle, #B71C1C 2.4vmin, #0000 0) 10% 20%,
    radial-gradient(circle, #ff0 1.6vmin, #0000 0) 70% 90%,
    radial-gradient(circle, #0000ff 2.4vmin, #0000 0) 20% 40%,
    radial-gradient(circle, #ff0 4vmin, #0000 0) 50% 15%;
  background-size: 1vmin 1vmin; 
  background-repeat: no-repeat;
  animation: firework 5s infinite;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(65deg) !important; 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-180deg) !important;
}