@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
.fondo-completo {
  background-color: white;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 20px;
  font-family: "Cinzel";
  padding: 40px 50px;
  box-sizing: border-box;
}
.fondo-descripcion {
  display: flex;
}
.container-big-img {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.big-image {
  margin-bottom: 20px;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
.mini-imgs-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}
.mini-imgs {
  width: 20%;
  border-radius: 5px;
  margin-right: 10px;
}
.container-description {
  width: 60%;
}
.container-description h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}
.tittle-back {
  display: flex;
  justify-content: space-between;
}
.tittle-back .volver {
  height: 3em;
  margin: 0.5em;
  border: none;
  background-color: #038bbb;
  color: white;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
}
.tittle-back .volver:hover {
  opacity: 50%;
}

.container-description .calificacion h3 {
  margin-right: 6%;
}
.different-lines {
  margin-top: 1em 0;
}
.calificacion {
  margin-bottom: 2em;
}
.same-line {
  margin-top: 1em;
  display: inline-block;
}
.anadir-carrito {
  background-color: #e19f41;
  color: White;
  border: none;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  height: 3em;
  padding: 10px;
}
.anadir-carrito:hover {
  opacity: 0.5;
}
.boton-azul {
  background-color: #038bbb;
  color: White;
  border: none;
  font-family: "Cinzel";
  border-radius: 10px;
  font-weight: 600;
  height: 3em;
  padding: 10px;
}
.boton-azul:hover {
  opacity: 0.5;
}
.two-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.deja-comentario {
  margin-top: 1em 0;
}
.area-comentario {
  width: 100%;
  height: 15vh;
  border-radius: 10px;
}
.calificacion-snitch {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.der {
  margin-left: 94%;
}
.usuario-coment {
  margin: 1em 0;
}
.comentario {
  width: 100%;
  border: 1px solid;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
}
.calif-fecha {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.5em 0;
}
.calif-fecha p {
  padding: 6px;
}


@media (max-width: 850px) {
  #two-buttons button {
    margin: 0.5rem 0;
  }


}
.efecto-visual-huevo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.huevo {
  width: 90px;
  height: 130px;
  background-color: #edbb99; 
  border-radius: 50% 50% 45% 45%;
  border: 2px solid #f6ddcc;
  position: relative;
  animation: caer 2s ease-in-out forwards;
}

@keyframes caer {
  0% {
      top: 0;
      transform: translateY(-100%);
  }
  70% {
      top: 85%;
      transform: translateY(0);
  }
  80% {
      top: 50%; 
      transform: translateY(0);
  }
  90% {
      top: 85%;
      transform: translateY(0);
  }
  95% {
      top: 60%;
      transform: translateY(0);
  }
  100% {
      top: 85%;
      transform: translateY(0);
  }
}
.efecto-visual-sombrero {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombrero-antigravedad {
  width: 700px;
  height: 1000px;
  background-image: url("../src/assets/sombrero.png"); 
  background-size: cover;
  position: relative;
  animation: levitar 4s ease-in-out infinite;
}

@keyframes levitar {
  0% {
      transform: translateY(200px);
  }
  100% {
      transform: translateY(-500px); 
  }
}
  .efecto-visual-granos {
    width: 300px; 
    height: 300px; 
    background-image: url('../src/assets/Filch.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
  }

  .efecto-visual-granos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
      radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    background-position: 55% 40%, 70% 55%, 70% 45%, 60% 25%, 70% 20%, 55% 55%, 65% 40%; 
    animation: mostrarGranos 6s infinite; 
  }

  @keyframes mostrarGranos {
    0%, 20% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    30% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #FFFF 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    50% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    70% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 50%);
    }
    100% {
      background-image: 
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145, #ffff 50%, transparent 50%),
        radial-gradient(circle, #B1C145 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, #FFDB58 0%, #ffff 50%, transparent 50%),
        radial-gradient(circle, rgba(255, 0, 0, 0.8) 0%, #ffff 50%, transparent 50%);
    }
  }
  .boca {
    width: 280px; 
    height: 350px; 
    background-image: url("../src/assets/boca.png");
    background-size: cover;
    position: absolute; 
    top: 20%;
  }
  
  .lengua {
    width: 250px; 
    height: 60px; 
    background-color: #C62828; 
    border-radius: 100% 50% 45% 45%;
    border: 2px solid #B71C1C; 
    position: absolute;
    top: 50%; 
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    animation: enrollarLengua 3s ease-in-out forwards; 
  }
  
  @keyframes enrollarLengua {
    0% {
      height: 60px; 
      width: 200px; 
      transform: translateX(-50%) translateY(-40%); 
    }
    100% {
      height: 600px;
      width: 200px; 
      transform: translateX(-50%) translateY(0px); 
    }
  }
   
  @keyframes firework {
    0% { 
      transform: translate(-50%, 60vh);
      width: 0.5vmin;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      opacity: 1;
    }
    100% { 
      width: 45vmin; 
      opacity: 0; 
    }
  }
  
  .firework,
.firework::before,
.firework::after {
  position: absolute;
  top: 20%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }