*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #03223F;
    
}


.Productos-mas-vendidos{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}