.Sobre_Nosotros{
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  
}
.contenido h1{
  margin: 3rem 3rem;
}
.contenido p{
  margin: 1rem 3rem;
}

.integrantes, .nombres {
  display: flex;
  justify-content: center;
 
}

.integrantes img, .nombres h5{
  max-width: 60px;
  margin: 0rem 1rem;
}

#sobre-nosotros-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

#gemelos{
  display: flex;
  justify-content: center;
  align-items: center;
}

#gemelos img{
  max-width: 500px;
}

@media(max-width:991px)  {

  #gemelos img{
    max-width: 450px;
  }

  #sobre-nosotros-contenedor{
    margin-top: 1rem;
  }
}


@media(max-width:750px)  {

  #gemelos img{
    max-width: 350px;
  }

  #sobre-nosotros-contenedor{
    margin-top: 1rem;
  }
}



@media(max-width:550px)  {

    #gemelos img{
      max-width: 250px;
    }

    #sobre-nosotros-contenedor{
      margin-top: 1rem;
    }
}


