.contenido-tienda{
   display: grid;
   grid-template-columns: 20% 1fr; 
   height: 100vh;
}

.productos{
    grid-column: 2;
    margin: 0;
}

.filtros{
    grid-column: 1;
    background-color: #0C2D4D;
}

#colProductos{
    padding-left: 4rem;
    margin-top: 1rem;
}

@media (max-width: 1024px) {
    .contenido-tienda {
        grid-template-columns: 20% 1fr; 
    }
    
}

@media (max-width: 770px) {
    .contenido-tienda {
        grid-template-columns: 1fr;
    }

    #filterCol{
        display: flex;
        width: 95vw;
        
    }

    #rowTienda{
        display: flex;
        justify-content: center;
    }

    #colProductos{
        padding-left: 1rem;
    }
}

@media (max-width: 480px) {
    .contenido-tienda {
        grid-template-columns: 1fr;
    }
}

